body{
    background-color: 	#FAF0E6;

}
h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    text-align: center;
}

select {
    margin-bottom: 20px;
}

/* CSS cho phim gợi ý */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    max-height: 300px;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.movie-card img:hover {
    transform: scale(1.05);
}

.movie-card p {
    font-size: 16px;
    margin: 0;
}
.tenphim {
    font-weight: 900;
    padding: 5px;
    display: block; 
}
.time{
    font-weight: 900;
    padding: 5px;
}
.xemhay0{
    color: #11ff00;
}