<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation</title>
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>MOVIE RECOMMENDATION</h1>
    <form action="/new_user" method="GET">
        <button type="submit">New user</button>
    </form>
    <div class="input_movies">
        <form action="/" method="POST">
            <label for="selected_movie">Enter a movie name:</label><br>
            <input type="text" id="selected_movie" name="selected_movie" value="{{ selected_movie }}" autocomplete="off">
            <ul class="suggestions"></ul><br>
            <input type="submit" value="Recommend" class="sbm">
        </form>
    
        <form action="/" method="POST">
            <label for="input_text">Enter a sentence:</label><br>
            <input type="text" id="input_text" name="input_text" value="{{ input_text }}"><br>
            <input type="submit" value="Recommend" class="sbm">
        </form>
        
    </div>

    <!-- Hiển thị gợi ý phim nếu có -->
    {% if recommended_movies|length > 0 %}
    <h2>Recommended Movies: {{ selected_movie }}</h2>
    <div class="movie-container">
        {% for movie in recommended_movies %}
        <div class="movie-card">
            <img src="{{ movie[12] }}" alt="{{ movie[0] }}">
            <p class="tenphim">{{ movie[0] }} - {{ movie[1] }} </p>
            <p class="time">{{ movie[2]}} min - rate: {{movie[10]}} </p>
            <p class="noidung">{{ movie[9] }}</p>
            <p class="xemhay0">{{ movie[-1] }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <script>
        $(document).ready(function() {
            $('#selected_movie').on('input', function() {
                var query = $(this).val();
                if (query.length > 0) {
                    $.ajax({
                        url: '/suggest',
                        data: { q: query },
                        success: function(data) {
                            $('.suggestions').empty().show();
                            data.forEach(function(item) {
                                $('.suggestions').append('<li>' + item + '</li>');
                            });
                        }
                    });
                } else {
                    $('.suggestions').hide();
                }
            });

            $(document).on('click', '.suggestions li', function() {
                $('#selected_movie').val($(this).text());
                $('.suggestions').hide();
            });

            $(document).click(function(e) {
                if (!$(e.target).closest('.input_movies').length) {
                    $('.suggestions').hide();
                }
            });
        });
    </script>
</body>
</html>
