<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New User and Rate Movies</title>
    <link rel="stylesheet" href="/static/main_newuser.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Create New User and Rate Movies</h1>
    <form id="ratingForm">
        <label for="movie_id">Select a movie:</label>
        <select id="movie_id" name="movie_id">
            {% for movie in movies %}
                <option value="{{ loop.index }}">{{ movie }}</option>
            {% endfor %}
        </select>
        <label for="rating">Rating:</label>
        <select id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="button" id="addRatingButton">Add Rating</button>
    </form>
    <h2>Current Ratings</h2>
    <ul id="ratingList">
        {% for rating in new_ratings %}
            <li>Movie ID: {{ rating[1] }}, Rating: {{ rating[2] }}</li>
        {% endfor %}
    </ul>
    <form action="/submit_ratings" method="post">
        <input class="submit_bt" type="submit" value="Submit Ratings">
    </form>
    <script>
        $(document).ready(function() {
            $('#addRatingButton').click(function() {
                $.ajax({
                    url: '/add_rating',
                    type: 'POST',
                    data: $('#ratingForm').serialize(),
                    success: function(data) {
                        data.forEach(function(rating) {
                            $('#ratingList').append('<li>Movie ID: ' + rating[1] + ', Rating: ' + rating[2] + '</li>');
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>
